@import 'Defines.scss';

.cmBetPage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 1rem;
}

.cmBetGroups {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cmPoulesTitle {
    margin-right: 1rem;
}

.cmPoulesSubtitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.cmSubmitButtonContainer {
    display: flex;
    align-items: center;
}

.cmSubmitButton {
    justify-content: center;
    padding-top: 2rem;
}

.cmBetNotCompleted {
    font-size: 0.65rem;
    padding-right: 0.5rem;
    width: 5rem;
    text-align: right;
}

.cmGroupSeparator {
    padding: 0.5rem 7rem 0.5rem 7rem;
    background-color: $headerColor;
    color: white;
    border-radius: 5rem 0 5rem 0;
    margin-top: 1rem;
}

.cmGroupSeparator i {
    margin-right: 0.5rem;
}

.cmSubmitButtonDiv {
    display: flex;
    align-items: center;
}