.cmLoginPage {
    position: absolute;
    background-color: #f5f2f0;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 0 1rem 1rem 1rem;
    width: 400px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
}

.cmLoginButton {
    margin-top: 1rem;
    width: 100%;
  }

.cmInput {
    display: block;
    padding: 15px 0 15px 5px;
    width: 97%;
    border: 2px solid #F4F7F7;
    background: #FCFCFC;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    height: auto;
}