.cmResultsPage {
}

.cmRankingTable {
    border: 1px solid #FFFFFF;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.cmRankingTableContainer {
    border: 1px solid #327a81;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 900px;
 }

 .cmRankingHeader {
    background-color: #327a81;
    color: white;
    font-size: 1.5em;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
 }

.cmRankingTable tr:nth-child(2n+1) {
    background-color: #edf7f8;
}

.cmRankingTable th {
    background-color: #daeff1;
    font-weight: bold;
}
.cmRankingTable td, .cmRankingTable th {
    color: #2b686e;
    padding: 10px;
    cursor: pointer;
}