.cmTeam {
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: #f8f8f8;
    cursor: pointer;
}

.cmTeamGrayed {
    opacity: 0.5;
}

.cmTeamTitle {
    background-color: #0b5b76;
    line-height: 28px;
    border-radius: 7px 7px 0px 0;
    padding: 5px 5px;
    color: white;
}

.cmTeamImage {
    width: 1.5rem;
    height: 1.5rem;
}

.cmTeamName {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.75rem;
}

.cmTeamSelectMark {
    font-size: 1rem;
    margin-left: auto;
    padding-right: 0.25rem;
}

.cmTeamSelected {
    color: green;
}