@import 'Defines.scss';

.cmTeamGroups {
    display: flex;
    flex-wrap: wrap;
}

.cmTeamGroup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    width: 12.5rem;
}

.cmTeamGroupTitle {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: $titleColor;
    color: white;
    line-height: 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.cmTeamWarningIcon {
    float: right;
    margin-top: 0.5rem;
    padding-right: 0.25rem;
    color: #3084ae;
    font-size: 1rem;
    cursor: pointer;
}