@import 'Defines.scss';

.cmTeamGroups {
    display: flex;
    flex-wrap: wrap;
}

.cmTeamGroup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    width: 12.5rem;
}

.cmTeamGroupResult {
    @extend .cmTeamGroup;
    width: 9rem;
}

.cmTeamGroupTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $titleColor;
    color: white;
    line-height: 2rem;
    border-radius: 1rem;
    margin-bottom: 0.25rem;
}

.cmTeamWarningIcon {
    padding-left: 0.5rem;
    font-size: 0.75rem;
    cursor: pointer;
}