.cmTopBanner {
    position: relative;
    background-color: #f4f4f4;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.cmTopBannerTitle {
    color: black;
    margin: 0 auto;
    display: table;
    vertical-align: middle;
    line-height: 2rem;
}

.cmUserInfo {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 25%;
}

.cmLoginIcon {
    padding-right: 0.25rem;
}

.cmUserName {
}

.cmResultIcon {
    float: left;
    position: absolute;
    top: 25%;
    padding-left: 1rem;
    cursor: pointer;
    color: red;
}